/* navbae.php */
.navbar .nav-link {
    color: #000;
    font-weight: bold;
    font-size:16px;
}
.navbar .nav-link:hover {
    text-decoration: underline;
}
.btn-login {
    border-radius:70px;
    font-size:16px;
    color: #000;
    border: none;
}
.navbar-brand img {
    max-height:100%;
    max-width:100%;
}


/* footer.php */
.footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.footer h6 {
    color:#fff;
    margin-top:5px;
    letter-spacing:2px
}
.footer a {
    color:#737373;
}
.footer a:hover {
    color:#3366cc;
    text-decoration:none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li {
    display:inline-block
}
.site-footer .social-icons {
    text-align:right
}
.social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover {
    color:#fff;
    background-color:#3b5998
}
.social-icons a.whatsapp:hover {
    color:#fff;
    background-color:#52be80
}
.social-icons a.instagram:hover {
    color:#fff;
    background-color:#af7ac5
}




/* index.html */
/* full width carousel */
.carousel-item {
    position:relative;
}
.carousel-caption {
    top:60%;
    position:absolute;
    transform:translateY(-50%);
    padding:20px;
}
.carousel-inner .carousel-item:before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:1;
}
.carousel-caption {
    margin:auto;
    padding:auto;
}
.carousel-caption h1 {
    font-size:60px;
}
.btn-more {
    color:#fff;
    border-radius:70px;
    padding:11px 45px;
    font-size:18px;
    border:2px solid #fff;
}
.btn-more:hover {
    color:#000;
    background-color:#fff;
}
.animated {
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
}
@-webkit-keyframes fadeRight {
  from{
    opacity:0;
    -webkit-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
  }
  to{
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}
.fadeRight {
  -webkit-animation-name:fadeRight;
  animation-name:fadeRight;
}

/* Our Service section */
.service-icon {
    height:150px;
    width:150px;
}

/* Featrued destination section */
.des-text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    color:#fff;
}
.tour-card {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition:transform 0.2s;
}
.tour-card:hover {
    transform:translateY(-5px);
} 

/* Newsletter section */
.newsletter {
    margin:auto;
}




/* login.html & sign_up.html */
.user {
    display:flex;
    height:700px;
}
.user-box {
    margin:auto;
}
.error {
	color: red;
}




/* box in tour.html, cruises.html, ground.html, flight.html, 2ToGo.html */
.box-container {
    display:flex;
    flex-wrap:wrap;
}
.box {
    position:relative;
    width:280px;
    height:280px;
    border-radius:1rem;
    box-shadow:5px 2px 11px 2px rgba(0,0,0,.3);
    overflow:hidden;
    transition:.2s ease-in;
}
.box .caption {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.box .view {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    z-index:10;
    transition:opacity 0.3s ease-in-out;
}
.box .cover {
    position: absolute;
    width:100%;
    height:30%;
    bottom:0;
    opacity:0;
    border-bottom-right-radius:1rem;
    border-bottom-left-radius:1rem;
    background:linear-gradient(to top, black, transparent);
}
.box:hover {
    transform: scale(1.1);
}
.box:hover .caption {
    opacity: 0;
}
.box:hover .view,
.box:hover .cover {
    opacity: 1;
}




/* package.html */
.package-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.package-card-img {
    width: auto;
    height: auto;
}
.package-card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
.package-card-text {
    margin-bottom: 0.5rem;
}
.text-muted {
    color: #6c757d;
}




/* package_detail.html */
.package-image-box {
    border-radius: 20px;
    height: 500px;
}
.package-box {
    border-radius: 20px;
    background-color: #F2F3F4;
}
#seemoreModal .modal-dialog {
    max-width: 700px;
    max-height: 400px;
    position: fixed;
    transform: translate(60%, 30%);
}
.package-box .form-group {
    margin-bottom: 1rem;
}
.package-box .input-group {
    width: 100%;
    max-width: 300px;
}
.btn-outline-secondary {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.package-box .form-control {
    border-color: #007bff;
}




/* booking.html */
.booking-image-box {
    border-radius: 20px;
    height:200px;
}
.date-menu {
    width: 100%;
    overflow-x: auto;
    border: 2px solid black;
}
.date-menu .option {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-right: 0.5px solid #E5E7E9;
}
.date-menu .option:hover {
    background-color: #E5E7E9;
}
.booking-box {
    border-radius: 20px;
    background-color: #F2F3F4;
}




/* payment.html */
.payment-box {
    border-radius: 20px;
    background-color: #F2F3F4;
}




/* Step List for booking and payment.html */
.FormStepList {
    display: flex;
    overflow: hidden;
    margin-top: 10px;
    max-width: 60%;
}
.FormStepList-item {
    flex: 1 1 50px;
    text-align: center;
    list-style: none;
}
.FormStepList-item:before {
    content: none;
    display: none;
}
.FormStepIcon {
    width: 50px;
    display: inline-block;
    text-align: center;
    position: relative;  
}
.is-active .FormStepIcon-circle {
    background: #43B69A;
    border: 4px solid #8ED3C2;
    color: #fff;
}
.is-passed .FormStepIcon-circle {
    background: #43B69A;
    color: #fff;
}
.FormStepIcon:after {
    content: '';
    background: #D4D4D4;
    position: absolute;
    right: -1000%;
    top: 20px;
    left: 10px;
    height: 4px;
    z-index: 1;  
}
.FormStepIcon--last:after {
    background: #fff;
}
.FormStepIcon-circle {
    background: #D4D4D4;
    color: #A9A9A9;
    font-size: 16px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.FormStepIcon-title {
    width: 50px;
    display: block;
    font-size: 0.7em;
    margin-top: 0.5em;
}



/* account.html */
.sidebar {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
}
.sidebar li {
    padding: 10px;
}
.sidebar li:hover {
    background-color: #fff;
    border-radius: 20px;
}
.sidebar li h5 {
    color: #000;
    cursor: pointer;
}
.sidebar .active h5 {
    color: #F1C40F;
}

.personal-info,
.book-hist,
.my-book,
.wish-list,
.payment-method,
.review-rate,
.noti-setting {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
}