<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <!-- <?php include 'navbar.php'; ?> -->
    <nav class="navbar navbar-expand-lg py-3 fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="templates/tour.html">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/cruise.html">Cruises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/ground.html">Ground</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/flight.html">Flight</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="templates/2_to_go.html">2 To Go</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="navbar-brand" href="../index.html">[LOGO]</a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="../templates/login.html" class="btn btn-secondary btn-light" role="button">
                            <i class="fas fa-user my-2 my-sm-0"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pt-5 justify-content-center">
        <div class="row">
            <div class="col-md-12 jumbotron bg-dark">
                <div class="container text-center text-white">
                    <h1>About Good Times Travel</h1>
                    <p>
                        Good Times Travel is a travel agency that offers a wide range of travel services.
                        Our aim is to provide exceptional customer service and create unforgettable travel experiences for the customers.
                    </p>

                    <!-- replace with map display -->
                    <div class="col-md-12 img-layer-container text-center">
                        <div class="team-image" id="team-image">
                            <img src="https://apimatic.io/img/theme/aboutUs/images-1.png" />
                        </div>  
                    </div>
                </div>
            </div>    
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Whatt We Stand For</h2>
                <p>
                    At Good Times Travel, we are passionate about creating unique travel experiences that exceed our customers' expectations. 
                    We are committed to providing exceptional service, personalized attention, and sustainable travel options. 
                    Our team of experienced travel experts is dedicated to ensuring that every trip with us is unforgettable.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Our Certifications</h2>
                <p>
                    Good Times Travel has earned industry accreditations and certifications for our commitment to providing exceptional service, 
                    sustainable tourism, and ensuring the safety and security of our customers. 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Customer Testimonials</h2>
                <p>
                    Read what our satisfied customers have to say about their amazing travel experiences with us.
                </p>
            </div>
        </div>
    </div>

    

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>