<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/main.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <!-- <?php include 'navbar.php'; ?> -->
    <nav class="navbar navbar-expand-lg bg-light mb-5 fixed-top">
        <div class="container">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/tour.html">TOURS</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/cruise.html">CRUISES</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/ground.html">GROUND</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/flight.html">FLIGHT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/2_to_go.html">2 TO GO</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="navbar-brand" href="../index.html">
                            <!-- <img src="../img/logo.png" height="40" alt="Logo"> -->
                            [logo]
                        </a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="../templates/login.html" class="btn btn-login btn-secondary" role="button">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pt-5 justify-content-center">
        <div class="row">
            <div class="col-md-12 jumbotron bg-dark">
                <div class="container text-center text-white">
                    <h1>About Good Times Travel</h1>
                    <p>
                        Good Times Travel is a travel agency that offers a wide range of travel services.
                        Our aim is to provide exceptional customer service and create unforgettable travel experiences for the customers.
                    </p>

                    <!-- replace with map display -->
                    <div class="col-md-12 img-layer-container text-center">
                        <div class="team-image" id="team-image">
                            <img src="../assets/images/map.png" />
                        </div>  
                    </div>
                </div>
            </div>    
        </div>

        <div class="row text-center mb-5">
            <div class="col-md-12">
                <h2>What We Stand For</h2>
                <p>
                    At Good Times Travel, we are passionate about creating unique travel experiences that exceed our customers' expectations. 
                    We are committed to providing exceptional service, personalized attention, and sustainable travel options. 
                    Our team of experienced travel experts is dedicated to ensuring that every trip with us is unforgettable.
                </p>
            </div>
        </div>

        <div class="row text-center mb-5">
            <div class="col-md-12">
                <h2>Our Certifications</h2>
                <p>
                    Good Times Travel has earned industry accreditations and certifications for our commitment to providing exceptional service, 
                    sustainable tourism, and ensuring the safety and security of our customers. 
                </p>
            </div>
            <div class="col-md-12">
                <p>
                    [insert certificate]
                </p>
            </div>
        </div>

        <div class="row text-center mb-5">
            <div class="col-md-12">
                <h2>Customer Testimonials</h2>
                <p>
                    Read what our satisfied customers have to say about their amazing travel experiences with us.
                </p>
            </div>
        </div>
    </div>

    

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>