<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/main.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <!-- <?php include 'navbar.php'; ?> -->
    <nav class="navbar navbar-expand-lg bg-dark p-3 mb-5 fixed-top">
        <div class="container">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/tour.html">TOURS</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/cruise.html">CRUISES</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/ground.html">GROUND</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/flight.html">FLIGHT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/2_to_go.html">2 TO GO</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="navbar-brand" href="../index.html"><img src="../assets/images/logo.png" height="40" alt="Logo"></a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="templates/login.html" class="btn btn-login btn-secondary btn-light" role="button">
                            <i class="fas fa-user my-2 my-sm-0"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
          <h1 class="display-4">Account</h1>
        </div>
    </div>

    <div class="container mt-5 mb-5" ng-controller="tabController">
        <div class="row">
            <!-- Side Menubar -->
            <div class="col-md-3">
				<div class="row">
                    <ul class="list-unstyled">
                        <li><img src="../assets/images/profile.png" class="rounded-circle" alt="profilepic" width="80px" height="80px" /></li>
                        <li><h2><strong>Username</strong> <img src="#level-icon" /></h2></li>
                        <li><p>user@email.com</p></li>
                    </ul>
                </div>
				<div class="side-menu p-2 row">
					<div class="col-md-12 border">
						<ul class="list-unstyled">
							<li class="tab active"><a href="#" ng-click="tab='personal-info'"><h5>Personal info</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='book-hist'"><h5>Booking History</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='my-book'"><h5>My Booking</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='wish'"><h5>Wishlist</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='payment'"><h5>Payment Method</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='rating'"><h5>Reveiws & Ratings</h5></a></li>
							<li class="tab"><a href="#" ng-click="tab='noti'"><h5>Notification Setting</h5></a></li>
						</ul>
					</div>
				</div>
            </div>

            <!-- Tabs -->
            <div class="col-md-9">
				<div class="container p-4 bg-light" ng-controller="formController" ng-show="tab=='personal-info'">
					<h2><strong>Personal Information</strong></h2>
                    <form name="personalinfoform" ng-submit="submitForm()">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="fname">First Name</label>
								<input type="text" class="form-control" id="fname" name="fname" ng-model="user.fname" required>
							</div>
							<div class="form-group col-md-6">
								<label for="lname">Last Name</label><br>
								<input type="text" class="form-control" id="lname" name="lname" ng-model="user.lname" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" name="email" ng-model="user.email" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" name="password" required>
							</div>
							<div class="form-group col-md-6">
								<label for="cpassword">Comfirm Password</label>
								<input type="cpassword" class="form-control" id="cpassword" name="cpassword" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="iphonenum">Phone number</label><br>
								<input type="text" class="form-control" id="phonenum" name="phonenum" ng-model="user.phonenum" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="dob">Date of birth</label><br>
								<input type="text" class="form-control" id="dob" name="dob" ng-model="user.dob" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="gender">Gender</label><br>
								<input type="text" class="form-control" id="gender" name="gender" ng-model="user.gender" required>
							</div>
							<div class="form-group col-md-6">
								<label for="nationality">Nationality</label><br>
								<input type="text" class="form-control" id="nationality" name="nationality" ng-model="user.nationality" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="address">Address</label>
								<textarea id="address" class="form-control" id="address" name="address" ng-model="user.address" required></textarea>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="passport">Passport info</label>
								<input type="tel" class="form-control" id="passport" name="passport" required>
							</div>
							<div class="form-group col-md-6">
								<label for="traveldoc">Travel document</label>
    							<input type="file" ngf-select ng-model="file" name="file" id="file" class="form-control-file">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="emergency">Emergency Contact</label>
								<input type="text" class="form-control" id="emergency" name="emergency" ng-model="user.emergency" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<button class="btn btn-secondary btn-dark" ng-click="updatePersonalInfo()">Save Changes</button>
							</div>
						</div>
					</form>
					<div>
						<button type="submit" class="btn btn-secondary btn-dark">Delete Account?</button>
					</div>
				</div>

				<!-- Booking History Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='book-hist'">
					<h2><strong>Booking History</strong></h2>
					<div class="history-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-8">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
					</div>
				</div>

				<!-- My Booking Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='my-book'">
					<h2><strong>My Booking</strong></h2>
					<div class="p-4" id="accordion">
						<div class="card">
							<a class="card-link" data-toggle="collapse" href="#collapseBooking">
								<div class="card-header">
									<h5>Booked Trips</h5>
								</div>
							</a>
							<div id="collapseBooking" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									<div class="booked-box row d-flex align-items-center mb-4 p-3">
										<div class="col-md-4">
											<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
										</div>
										<div class="col-md-6">
											<h4>Name</h4>
											<span>details</span>
											<h5>price</h5>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-secondary btn-dark">Cancel</button>
										</div>
									</div>
									<div class="booked-box row d-flex align-items-center mb-4 p-3">
										<div class="col-md-4">
											<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
										</div>
										<div class="col-md-6">
											<h4>Name</h4>
											<span>details</span>
											<h5>price</h5>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-secondary btn-dark">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="card-link" data-toggle="collapse" href="#collapseUpcoming">
								<div class="card-header">
									<h5>Upcoming Trips</h5>
								</div>
							</a>
							<div id="collapseUpcoming" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<div class="upcoming-box row d-flex align-items-center mb-4 p-3">
										<div class="col-md-4">
											<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
										</div>
										<div class="col-md-6">
											<h4>Name</h4>
											<span>details</span>
											<h5>price</h5>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-secondary btn-dark">Cancel</button>
										</div>
										<hr>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="card-link" data-toggle="collapse" href="#collapseCancelled">
								<div class="card-header">
									<h5>Cancelled Trips</h5>
								</div>
							</a>
							<div id="collapseCancelled" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<div class="cancelled-box row mb-4 p-3">
										<div class="col-md-4">
											<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
										</div>
										<div class="col-md-8">
											<h4>Name</h4>
											<span>details</span>
											<h5>price</h5>
										</div>
										<hr>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Wishlist Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='wish'">
					<h2><strong>Wishlist</strong></h2>
					<div class="wish-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-6">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-secondary btn-dark">Remove</button>
						</div>
					</div>
					<div class="wish-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-6">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-secondary btn-dark">Remove</button>
						</div>
					</div>
					<div class="wish-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-6">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-secondary btn-dark">Remove</button>
						</div>
					</div>
				</div>

				<!-- Payment Method Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='payment'">
					<h2><strong>Payment Method</strong></h2>
					<div class="p-4" id="accordion">
						<div class="card">
							<a class="card-link" data-toggle="collapse" href="#collapseBooking">
								<div class="card-header">
									<h5>Credit / Debit Card</h5>
								</div>
							</a>
							<div id="collapseBooking" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									<div class="booked-box row d-flex align-items-center mb-4 p-3">
										<div class="col-md-4">
											<p>[icon of card]</p>
										</div>
										<div class="col-md-6">
											<p>card name</p>
											<p>card number</p>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-secondary btn-dark">Remove</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<a class="card-link" data-toggle="collapse" href="#collapseUpcoming">
								<div class="card-header">
									<h5>Bank Transfer</h5>
								</div>
							</a>
							<div id="collapseUpcoming" class="collapse" data-parent="#accordion">
								<div class="card-body">
									<div class="upcoming-box row d-flex align-items-center mb-4 p-3">
										<div class="col-md-4">
											<p>[icon of the bank]</p>
										</div>
										<div class="col-md-6">
											<p>bank name</p>
											<p>account name</p>
											<p>account number</p>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-secondary btn-dark">Remove</button>
										</div>
										<hr>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Review & Rating Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='rating'">
					<h2><strong>Reveiw & Rating</strong></h2>
					<div class="review-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-6">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-secondary btn-dark" data-toggle="modal" data-target="#reviewModal">Rate</button>
						</div>
					</div>
					<div class="review-box row d-flex align-items-center mb-4 p-3">
						<div class="col-md-4">
							<img src="../assets/images/s1.jpg" alt="trippic" width="200px" height="120px" />
						</div>
						<div class="col-md-6">
							<h4>Name</h4>
							<span>details</span>
							<h5>price</h5>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#reviewModal">Rate</button>
						</div>
					</div>

					<!-- Review and Rating modal -->
                    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reviewModalLabel">Review & Rating</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="rating">Rating</label>
                                            <select class="form-control" id="rating">
                                            <option value="5">5 Stars</option>
                                            <option value="4">4 Stars</option>
                                            <option value="3">3 Stars</option>
                                            <option value="2">2 Stars</option>
                                            <option value="1">1 Star</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Review</label>
                                            <textarea class="form-control" id="review" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="submit" class="btn btn-primary mx-auto" data-toggle="modal" data-miss="modal">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

				<!-- Notification Setting Tab -->
				<div class="container p-4 bg-light" ng-show="tab=='noti'">
					<h2><strong>Notification Setting</strong></h2>
					<div class="row mb-4">
						<div class="col-md-12">
							<h3>Updates and Promotion</h3>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="updateSwitch1">
								<label class="custom-control-label" for="updateSwitch1">SMS Notification</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="updateSwitch2">
								<label class="custom-control-label" for="updateSwitch2">Email Notification</label>
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-12">
							<h3>Reminders</h3>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="reminderSwitch1">
								<label class="custom-control-label" for="reminderSwitch1">SMS Notification</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="reminderSwitch2">
								<label class="custom-control-label" for="reminderSwitch2">Email Notification</label>
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-12">
							<h3>Account Notifications</h3>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="accountSwitch1">
								<label class="custom-control-label" for="accountSwitch1">SMS Notification</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="accountSwitch2">
								<label class="custom-control-label" for="accountSwitch2">Email Notification</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <?php include 'footer.php'; ?> -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <h6>CONNECT WITH US</h6>
                    <ul class="social-icons list-unstyled ">
                        <li class="d-inline-block"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li class="d-inline-block"><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>EXPLORE</h6>
                    <ul class="footer-links list-unstyled">
                        <li><a class="footer-link" href="../templates/contact_us.html">Contact Us</a></li>
                        <li><a class="footer-link" href="../templates/about_us.html">About Us</a></li>
                        <li><a class="footer-link" href="../templates/privacy_policy.html">Privacy Policy</a></li>
                        <li><a class="footer-link" href="../templates/terms_condition.html">Terms and Conditions</a></li>
                    </ul>
                </div>
    
                <div class="col-md-3 col-xs-6">
                    <h6>ADDRESS</h6>
                    <p>E-G-25, Gala Street Mall,<br>Jalan Tun Jugah,<br>93350 Kuching,<br>Sarawak</p>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>OFFICE HOURS</h6>
                    <table class="table table-borderless text-white">
                        <tbody>
                            <tr>
                                <td>Monday - Friday:</td>
                                <td>9:00 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>Saturday:</td>
                                <td>10:00 AM - 2:00 PM</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row text-center">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
                        <a class="text-white font-weight-bold" href="#">Good Times Travel</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

	<!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.min.js"></script>
	<!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- JS Script -->
    <script src="../script/account.js"></script>

</body>
</html>