<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <style>
.login{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url('../img/back.jpg');
}

.login-box{
  position: relative;
  width: 400px;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 background: inherit; 
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px; 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}


/* Form which you dont need */
.login-box{
  position: relative;
  margin-top: 50px;
  z-index: 1;
  color: white;
}

.login-box:after {
    content: '';
 background: inherit; 
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px; 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}



    </style>
</head>

<body class="login">
    <div class="container mx-auto my-auto">
        <div class="login-box">
            <div class="row">
                <div class="col-md-12">
                    <h2>Member Login</h2>
                </div>
            </div>
            
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputusername" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    <input type="text" class="form-control" id="inputpassword" placeholder="Password">
                </div>
            </form>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="../index.html" type="submit" class="btn btn-primary mx-auto login-btn" role="button">
                            Login
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>New Member? 
                            <a href="sign_up.html" class="text-primary font-weight-bold">
                                Sign Up
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Member Login</h2>
            </div>
        </div>
        
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#forgotModal" class="text-primary font-weight-bold">
                                Forgot Password?
                            </a>   
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="../index.html" type="submit" class="btn btn-primary mx-auto login-btn" role="button">
                        Login
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>New Member? 
                        <a href="sign_up.html" class="text-primary font-weight-bold">
                            Sign Up
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Forgot password Modal -->
    <div class="modal" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="forgotModalLabel">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Registered email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-miss="modal">Send Email</button>
                    <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-miss="modal">Back to Login</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>