<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/main.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body class="user">
    <div class="container user-box">
        <div class="row justify-content-center">
            <div class="col-md-4 p-3 shadow" ng-controller="loginCtrl">
                <h2>Login</h2>
                <hr/>
                <form name="loginForm" ng-submit="submitForm()">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" ng-model="username" ng-pattern="/^[a-zA-Z0-9]*$/" required>
                            </div>
                            <!-- error message -->
                            <span ng-show="loginForm.username.$error.required">Username is required.</span>
                            <span ng-show="loginForm.username.$error.pattern">Username should contain only letters and numbers.</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="password" required>
                            </div>
                        </div>
                        <!-- error message -->
                        <span ng-show="loginForm.password.$error.required">Password is required.</span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-right">
                            <a href="#" data-toggle="modal" data-target="#forgotModal" class="text-dark text-right">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="form-row justify-content-center mt-3">
                        <div class="form-group col-md-12 text-center">
                            <span ng-show="error" class="error">{{error}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary btn-block login-btn">Login</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <p>New Member? <a href="sign_up.html" class="text-primary font-weight-bold">Sign Up</a></p>
                        </div>
                    </div>
                </form>     
            </div>
        </div>
    </div>

    <!-- Forgot password Modal -->
    <div class="modal" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel" aria-hidden="true" ng-controller="ForgotPasswordCtrl">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="forgotModalLabel">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="forgotPasswordForm" ng-submit="submitForm()">
						<div class="form-group">
							<!-- <label for="remail">Registered Email</label> -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control" id="rmail" name="remail" placeholder="Registered email" ng-model="remail" required>
                            </div>
                            <!-- error message -->
							<span ng-show="forgotPasswordForm.remail.$error.required" class="error">Input is required.</span>
							<span ng-show="error" class="error">{{error}}</span>
						</div>
						<br><br>
						<button type="submit" class="btn btn-primary">Receive Link</button>
					</form>
                </div>
            </div>
        </div>
    </div>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Script -->
    <script src="../script/login.js"></script>

</body>
</html>