<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Selected Package Name</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light mb-5 fixed-top">
        <div class="container">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/tour.html">TOURS</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/cruise.html">CRUISES</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/ground.html">GROUND</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/flight.html">FLIGHT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/2_to_go.html">2 TO GO</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="navbar-brand" href="../index.html">
                            <!-- <img src="../img/logo.png" height="40" alt="Logo"> -->
                            [logo]
                        </a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="../templates/login.html" class="btn btn-login btn-secondary" role="button">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Package name</h1>
                    <p>short description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>
                        4.7 
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>500 booked</p>
                </div>
                <div class="col-md-4">
                    <p><i class="fa fa-map-marker-alt"></i> destination pin and name</p>
                </div>
                <div class="col-md-4 text-right">
                    <p><i class="far fa-heart"></i></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Images gallery of the destination -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="package-image-box bg-dark"></div>
            </div>
        </div>
    </div>

    <!-- Package description -->
    <div class="package-box container p-4 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Package Details</h3>
                <ul>
                    <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                    <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                    <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                </ul>
                <a href="#" data-toggle="modal" data-target="#seemoreModal" class="pl-4 text-dark">
                    <span>See More....</span>
                </a>
            </div>
        </div>
    </div>

    <!-- See More Modal -->
    <div class="modal fade" id="seemoreModal" tabindex="-1" role="dialog" aria-labelledby="seemoreModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="seemoreModalScrollableTitle">Package Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                    </ul>
                    <hr>
                    <h4>What's included</h4>
                    <ul>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                    </ul>
                    <hr>
                    <h4>Other Information</h4>
                    <ul>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                        <li>At itaque adipisci non quae dolor qui dolorum quos hic quaerat repellat et provident cumque aut ratione blanditiis ex enim recusandae.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Package price and booking -->
    <div class="package-box container p-4 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Package price:</h2>

                <!-- select from calendar or scroll menu  -->
                <h6>Select Date: </h6>
                <p>[calendar] or [buttons showing avaialable date]</p> 

                <h6>Quantity: </h6>
                <div class="form-group row">
                    <label for="adult-quantity" class="col-md-10 col-form-label">Adult:</label>
                    <div class="col-md-2 input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="adult-quantity-minus">-</button>
                        </div>
                        <input type="number" class="form-control" id="adult-quantity" name="adult-quantity" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="adult-quantity-plus">+</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="child-quantity" class="col-md-10 col-form-label">Children:</label>
                    <div class="col-md-2 input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="child-quantity-minus">-</button>
                        </div>
                        <input type="number" class="form-control" id="child-quantity" name="child-quantity" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="child-quantity-plus">+</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 border">
                        <h1 class="font-weight-bold">RMxxx</h1>
                    </div>
                    <div class="col-md-3 border">
                        <a href="../templates/login.html" class="btn btn-login btn-secondary btn-light" role="button">
                            Add to Cart
                        </a>
                        <a href="../templates/booking.html" class="btn btn-login btn-secondary btn-light" role="button">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer reviews -->
    <div class="package-box container p-4 mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Customer Reviews</h2>
            </div>
            <div class="col-md-2">
                <p>
                    4.7 
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-md-2">
                <p>100 Reviews</p>
            </div>
            <div class="col-md-12">
                <!-- <div class="container date-menu mt-5 mb-5">
                    <div class="row col-md-12 flex-nowrap">
                        <div class="option col-md-2" data-target="div1">
                            <p class="date">1</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div2">
                            <p class="date">2</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div2">
                            <p class="date">3</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div3">
                            <p class="date">4</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div4">
                            <p class="date">5</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div5">
                            <p class="date">6</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div6">
                            <p class="date">7</p>
                            <p class="price">price</p>
                        </div>
                        <div class="option col-md-2" data-target="div6">
                            <p class="date">8</p>
                            <p class="price">price</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-12">
                <p>[categories button display in inline block & dropdown]</p>
            </div>
            <div class="col-md-12">
                <p>[review cards]</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <?php include 'footer.php'; ?> -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <h6>CONNECT WITH US</h6>
                    <ul class="social-icons list-unstyled ">
                        <li class="d-inline-block"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li class="d-inline-block"><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>EXPLORE</h6>
                    <ul class="footer-links list-unstyled">
                        <li><a class="footer-link" href="templates/contact_us.html">Contact Us</a></li>
                        <li><a class="footer-link" href="templates/about_us.html">About Us</a></li>
                        <li><a class="footer-link" href="templates/privacy_policy.html">Privacy Policy</a></li>
                        <li><a class="footer-link" href="templates/terms_condition.html">Terms and Conditions</a></li>
                    </ul>
                </div>
    
                <div class="col-md-3 col-xs-6">
                    <h6>ADDRESS</h6>
                    <p>E-G-25, Gala Street Mall,<br>Jalan Tun Jugah,<br>93350 Kuching,<br>Sarawak</p>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>OFFICE HOURS</h6>
                    <table class="table table-borderless text-white">
                        <tbody>
                            <tr>
                                <td>Monday - Friday:</td>
                                <td>9:00 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>Saturday:</td>
                                <td>10:00 AM - 2:00 PM</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row text-center">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
                        <a class="text-white font-weight-bold" href="#">Good Times Travel</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var adultQuantityInput = document.getElementById('adult-quantity');
  var adultQuantityMinusBtn = document.getElementById('adult-quantity-minus');
  var adultQuantityPlusBtn = document.getElementById('adult-quantity-plus');

  adultQuantityMinusBtn.addEventListener('click', function() {
    var value = parseInt(adultQuantityInput.value, 10);
    if (value > 1) {
      adultQuantityInput.value = (value - 1).toString();
    }
  });

  adultQuantityPlusBtn.addEventListener('click', function() {
    var value = parseInt(adultQuantityInput.value, 10);
    adultQuantityInput.value = (value + 1).toString();
  });
    </script>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>