<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payment</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="navbar-brand mx-auto" href="../index.html">
                    <!-- <img src="../img/logo.png" height="40" alt="Logo"> -->
                    [logo]
                </a>
            </div>
            <div class="col-md-12 text-center">
                <ol class="FormStepList mx-auto">
                    <li class="FormStepList-item">
                        <span class="FormStepIcon is-passed">
                            <span class="FormStepIcon-circle">1</span>
                            <span class="FormStepIcon-title">Choose Package</span>
                        </span>
                    </li>
                  
                    <li class="FormStepList-item">
                        <span class="FormStepIcon is-passed" id="this">
                            <span class="FormStepIcon-circle">2</span>
                            <span class="FormStepIcon-title">Enter Info</span>
                        </span>
                    </li>
                  
                    <li class="FormStepList-item">
                        <span class="FormStepIcon FormStepIcon--last is-active">
                            <span class="FormStepIcon-circle">3</span>
                            <span class="FormStepIcon-title">Make Payment</span>
                        </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="payment-box mt-5 p-3">
                    <h3>Customer details</h3>
                    <p>[display package and customer info]</p>
                </div>
                <div class="payment-box mt-4 p-3">
                    <h3>Payment Method</h3>
                    <hr>
                    <input type="radio" id="card" name="payment_method" value="card">
                    <label for="creditdebit">Credit / Debit Card</label><br>
                    <input type="radio" id="bank" name="payment_method" value="bank">
                    <label for="onlinebanking">Online Banking</label><br>
                    <input type="radio" id="paypal" name="payment_method" value="paypal">
                    <label for="paypal">PayPal</label>
                    <hr>
                    <!-- for card -->
                    <form method="post" action="#" class="creditdebitform">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="chname">Name</label><br>
                                <input type="text" class="form-control" id="chname" name="chname" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cardnum">Card Number</label><br>
                                <input type="text" class="form-control" id="cardnum" name="cardnum" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="expdate">Expiration Date</label><br>
                                <input type="text" class="form-control" id="expdate" name="expdate" placeholder="MM/YY" required>
                            </div>    
                            <div class="form-group col-md-3">
                                <label for="passport">CVV/CVC</label><br>
                                <input type="text" class="form-control" id="cvvcvc" name="cvvcvc" placeholder="Username" required>
                            </div>
                            <div class="form-group col-md-6">
                                <span>*CVV or CVC is the card security code, unique three digits number on the back of your card separate from its number.</span>
                            </div>
                        </div>
                        <input type="checkbox" class="mr-md-1" id="save" name="save_card" value="save">
                        <label for="save_card">Save card details</label>
                    </form>

                    <!-- for bank -->
                    <!-- <form method="post" action="#" class="bankform">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="bankname">Choose bank:</label>
                                <select class="form-select ml-2" id="exampleSelect">
                                    <option selected> </option>
                                    <option value="option1">CIMB</option>
                                    <option value="option2">Maybank</option>
                                    <option value="option3">Public Bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="chname">Name</label><br>
                                <input type="text" class="form-control" id="chname" name="chname" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cardnum">Account Number</label><br>
                                <input type="text" class="form-control" id="cardnum" name="cardnum" required>
                            </div>
                        </div>
                        <input type="checkbox" class="mr-md-1" id="save" name="save_card" value="save">
                        <label for="save_card">Save bank details</label>
                    </form> -->

                    <!-- for paypal -->
                    <!-- <form method="post" action="#" class="bankform">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="chname">Email</label><br>
                                <input type="text" class="form-control" id="chname" name="chname" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cardnum">Password</label><br>
                                <input type="text" class="form-control" id="cardnum" name="cardnum" required>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="payment-box mt-5 p-3">
                    <h3>Summary</h3>
                    <hr>
                    <p>[package name]</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet. </li>
                        <li>Lorem ipsum dolor sit amet. </li>
                    </ul>
                    <hr>
                    <p>[show total amount]</p>
                </div>
                <div class="payment-box mt-5 p-3">
                    <p>[subtotal]</p>
                    <p>[add-ons *if any]</p>
                    <hr>
                    <p>total</p>
                    <br>
                    <a href="../index.html" class="btn btn-login btn-secondary btn-light" role="button">
                        Pay Now
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <?php include 'footer.php'; ?> -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <h6>CONNECT WITH US</h6>
                    <ul class="social-icons list-unstyled ">
                        <li class="d-inline-block"><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
                        <li class="d-inline-block"><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>EXPLORE</h6>
                    <ul class="footer-links list-unstyled">
                        <li><a class="footer-link" href="templates/contact_us.html">Contact Us</a></li>
                        <li><a class="footer-link" href="templates/about_us.html">About Us</a></li>
                        <li><a class="footer-link" href="templates/privacy_policy.html">Privacy Policy</a></li>
                        <li><a class="footer-link" href="templates/terms_condition.html">Terms and Conditions</a></li>
                    </ul>
                </div>
    
                <div class="col-md-3 col-xs-6">
                    <h6>ADDRESS</h6>
                    <p>E-G-25, Gala Street Mall,<br>Jalan Tun Jugah,<br>93350 Kuching,<br>Sarawak</p>
                </div>

                <div class="col-md-3 col-xs-6">
                    <h6>OFFICE HOURS</h6>
                    <table class="table table-borderless text-white">
                        <tbody>
                            <tr>
                                <td>Monday - Friday:</td>
                                <td>9:00 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>Saturday:</td>
                                <td>10:00 AM - 2:00 PM</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="bg-light">
            <div class="row text-center">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
                        <a class="text-white font-weight-bold" href="#">Good Times Travel</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var step = document.getElementById('this');
        step.addEventListener('click', function() {
            history.back();
        });

        // const progressBars = document.querySelectorAll('.progress-bar[data-page]');
        // progressBars.forEach(progressBar => {
        //     progressBar.addEventListener('click', () => {
        //         const page = parseInt(progressBar.dataset.page);
        //         window.history.go(-(page - 1));
        //     });
        // });
    </script>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>