<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body class="pt-5">
    <!-- Navbar -->
    <!-- <?php include 'navbar.php'; ?> -->
    <nav class="navbar navbar-expand-lg bg-light mb-5 fixed-top">
        <div class="container">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/tour.html">TOURS</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/cruise.html">CRUISES</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/ground.html">GROUND</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="../templates/flight.html">FLIGHT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/2_to_go.html">2 TO GO</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="navbar-brand" href="../index.html">
                            <!-- <img src="../img/logo.png" height="40" alt="Logo"> -->
                            [logo]
                        </a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="../templates/login.html" class="btn btn-login btn-secondary" role="button">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Terms and Conditions</h1>
            </div>
        </div>

        <hr>
        
        <div class="row">
            <div class="col-md-12">
                <p>Please read these terms and conditions carefully before using this website.</p>
            </div>
        </div>
        
        <br/>

        <div class="row">
            <div class="col-md-12 p-4 rounded bg-light">
                <h3>Introduction</h3>
                <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at www.example.com.</p>
            </div>
        </div>
        
        <br/>

        <div class="row">
            <div class="col-md-12 p-4 rounded">
                <h3>Intellectual Property Rights</h3>
                 <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the licence below, all these intellectual property rights are reserved.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 p-4 shadow rounded">
                <h2>Licence to Use Website</h2>
                <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
                <p>You must not:</p>
                <ul>
                <li>republish material from this website (including republication on another website);</li>
                <li>sell, rent or sub-license material from the website;</li>
                <li>show any material from the website in public;</li>
                <li>reproduce, duplicate, copy or otherwise exploit material on our website for commercial purposes;</li>
                <li>edit or modify any material on the website;</li>
                <li>redistribute material from this website except for content specifically and expressly made available for redistribution.</li>
                </ul>
            </div>
        </div>

        <br/>
        
        <div class="row">
            <div class="col-md-6 p-4 text-left shadow rounded">
                <h2>Acceptable Use</h2>
                <p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
            </div>

            <br/>

            <div class="col-md-6 p-4 tet-s shadow rounded">
                <h2>Disclaimer</h2>
                <p>The materials on our website are provided on an 'as is' basis. We make no warranties, expressed or implied, and hereby disclaim and negate all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>
            </div>
        </div>

        <br/>
        
        <div class="row">
            <div class="col-md-12 p-4 shadow rounded">
                <h2>Limitations of Liability</h2>
                <p>We will not be liable to you (whether under the law of contract, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
                <ul>
                    <li>for any indirect, special or consequential loss;</li>
                    <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <?php include 'footer.php'; ?> -->
    <footer class="footer bg-dark text-white">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <h4>Connect With Us</h4>
                    <ul class="list-unstyled">
                        <li class="d-inline-block">
                            <a
                                class="btn btn-lg btn-dark rounded-circle"
                                style="background-color: #2b52ac;"
                                href="#!"
                                role="button"
                                ><i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a
                                class="btn btn-lg btn-dark rounded-circle"
                                style="background-color: #ac2bac;"
                                href="#!"
                                role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a
                                class="btn btn-lg btn-dark rounded-circle"
                                style="background-color: #2bac58;"
                                href="#!"
                                role="button">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Explore</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="footer-link" href="templates/contact_us.html">Contact Us</a>
                        </li>
                        <li>
                            <a class="footer-link" href="templates/about_us.html">About Us</a>
                        </li>
                        <li>
                            <a class="footer-link" href="templates/privacy_policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="footer-link" href="templates/terms_condition.html">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Address</h4>
                    <p>E-G-25, Gala Street Mall,<br>Jalan Tun Jugah,<br>93350 Kuching,<br>Sarawak</p>
                </div>
                <div class="col-md-3">
                    <h4>Office Hours</h4>
                    <table class="table table-borderless text-white">
                        <tbody>
                            <tr>
                                <td>Monday - Friday:</td>
                                <td>9:00 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>Saturday:</td>
                                <td>10:00 AM - 2:00 PM</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2023 Good Times Travel. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHJewRx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>